@import '../var';

.div-selectors {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 8px;
  margin: 2.75rem auto;
  a {
    display: inline-block;
    margin: 10px;
    padding: 4px;
    border-radius: 100px;
    background-color: white;
    border: 1px solid #000000;
  }

  .checked {
    border: none;
    margin: 10px;
    background-color: $main-color;
    padding: 5px;
  }
}